body{
  font-size: 14px;
  font-family: Arial, halvatica, sans-serif;
  line-height: 1.4;
  color: #ccc;
}
a{
  color: #ccc;
}
p{
  font-size: 1.4em;
  margin: 15px 0;
  color: #000;
}
h1,h2,h3,h4,h5,h6{
  margin: 0 0 15px;
  color: #000;
  font-weight: bold;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
}

.layout{
  padding: 0 15px;
}
.top-bar{
  padding: 10px 0;
  border-bottom: 1px solid var(--global-border-color);
}
.top-bar .layout .language,
.social,
.login-social{
  display: flex;
  justify-content: space-between;
}

.langu > strong,
.langu > a,
.langu > span,
.login > a
 {
    margin-right: 10px;
  }
.social > li{
  &:not(:last-child){
    margin-right: 20px;
  }
}

.logo-cont {
  .layout {
    padding: 15px 0;
    > div{
      text-align: center;
    }
  }
}
nav{
  background: var(--nav-bg-color);
}
footer {
  .layout{
    padding: 15px 0;
  }
  small, a{
    display: block;
    margin-bottom: 5px; 
  }
  i{
    margin-left: 5px;
  }

}

.left-logo{
  a{
    color: var(--logo-color);
    font-size:24px;
    font-weight: bold;
  }
}
.slder-cont{
  ul{
    overflow: hidden;
    position: relative;
  }
  li {
    img{
      width: 100%;
      display: block;
    }
  }
  .slick-track{
    display: flex;
  }
  .slick-dots{
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      width: 14px;
      height:14px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 10px;
      background: #fff;
      opacity: .6;
      &.slick-active{
        opacity: 1;
      }
      button{
        background: transparent;
        border: none;
        font-size: 0;
        width: 100%;
        height: 100%;
        &:focus{
          outline: none;
        }
      }
    }
  }
}
.content-area{
  margin-top: 25px;
}
@media(min-width:768px){
  .layout{
    width:1170px;
    margin: 0 auto;
  }
  .ham-button{display: none;}
  .top-bar .layout, .logo-cont .layout,.langu,
  footer .layout,.language{
    display: flex;
    justify-content: space-between;
  }
  nav{
    ul{
      display: flex;
      padding: 15px 0;
      font-size: 1.3em;
      li{
        margin-right: 50px;
      }
    }
  }
  .logo-cont .layout,
  footer .layout{
    align-items: center;
  }
  .langu > strong,
  .langu > a,
  .langu > span,
  .login > a,
  .social > li {
    margin-left: 10px;
  }
  .content-area{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap:25px;
    margin: 25px 0 20px;
  }
}


@media(max-width:768px){
  .language{
    margin-bottom: 15px;
  }
  nav{
    padding: 10px 0 5px;
    position: relative;
  }
  .ham-button {
    position: relative;
    height: 24px;
    width: 35px;
    background: transparent;
    border: none;
    &:focus{
      outline: none;
    }
    + ul{
      display: none;
      position: absolute;
      z-index: 1;
      bottom: -237px;
      background: var(--nav-bg-color);
      width: 100%;
      left: 0;
      padding: 20px 20px 0;
      li{
        margin-bottom: 25px;
        font-size: 1.5em;
      }
    }
    border-top:3px solid #fff;
    &:before,
    &:after{
      width:100%;
      height: 3px;
      background: #fff;
      content: "";
      position: absolute;
      transition: all .3s;
      left: 0;
    }
    &:before{
      top: 32%;
      // transform: translateY(-50%);
    }
    &:after{
      bottom: 0;
    }
  &.close{
    border-top:0;
    &:before{
      top:10px;
      transform: rotate(45deg);
    }
    &:after{
      bottom: 11px;
      transform: rotate(-45deg);
    }
  }
  }

  footer {
    .layout{
      text-align: center;
      > div{
        margin-bottom: 15px;
      }
    }
  }
}
